/* TAG SELECTORS */

body {
    font-family: 'Montserrat', 'Merriweather', serif;
    margin: 0px;
    text-align: center;
}

h1 {
    color: #E6E2C3;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    margin: 50px auto 0 auto;
}

h2 {
    color: #E6E2C3;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
}

h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #E6E2C3;
}



/* CLASS SELECTORS: CONTAINERS */

.top-container {
    color: #E6E2C3;
    background-color: #1C315E;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    background-color: #227C70;
    margin: 0;
padding-bottom: 1rem;
}

.bottom-container {
    background-color: #88A47C;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.profile {
    line-height: 2;
    margin: 50px auto 50px auto;
    text-align: center;
    width: 50%;
}

.skill-row {
    line-height: 2;
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}


/* CLASS SELECTORS: ELEMENTS */

.cloud-bottom {
    position: absolute;
    bottom: 300px;
    left: 200px;
    width: 10rem;
}

.cloud-top {
    position: absolute;
    right: 300px;
    top: 50px;
    width: 10rem;
}

.globe-img {
    float: left;
    margin-right: 30px;
    width: 25%;
}

.message-img {
    height: 50px;
    position: relative;
    right: 10px;
}

.mountain {
    width: 30rem;
}

.profile-pic {
    height: 200px;
}

.startup-img {
    float: right;
    margin-left: 30px;
    width: 25%;
}