body {
    margin: 0px;
    text-align: center;
}

h1 {
    color: #E6E2C3;
    margin: 0 auto 0 auto;
    width: 10%;
}

p {s
    color: #E6E2C3
}

.top-container {
    background-color: #1C315E;
    border: solid 10px;
    color: #E6E2C3;
    padding: 20px;
}

.middle-container {
    background-color: #227C70;
    height: 200px;
    width: 200px;
}

.bottom-container {
    background-color: #88A47C;
    height: 200px;
    width: 200px;
}

.pro {
    text-decoration: underline;
}