body {
    font-family: 'Montserrat', 'Merriweather', serif;
    margin: 0px;
    text-align: center;
}

h1 {
    color: #E6E2C3;
    font-family: 'Sacramento', cursive;
    font-size: 5.655rem;
    margin-top: 0;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #E6E2C3;
}

.top-container {
    background-color: #1C315E;
    color: #E6E2C3;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    background-color: #227C70;
    padding: 50px 100px;
}

.bottom-container {
    background-color: #88A47C;
    padding: 50px 100px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 400px;
}

.coffee-cup {
    height: 50px;
    position: relative;
    right: 10px;
}

.japanese-h1 {
    font-family: 'Zen Maru Gothic';
    font-size: 2.8125rem;
    position: relative;
    left: 100px;
    bottom: 50px;
}

.japanese-h2 {
    font-family: 'Zen Maru Gothic';
    font-size: 90%;
    position: relative;
    left: 100px;
}

.message {
    height: 50px;
    position: relative;
    right: 10px;
}

.mountain {}

.pro {
    text-decoration: underline;
}

.profile-pic {
    height: 200px;
}

.settings-icon {
    height: 50px;
    position: relative;
    right: 10px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
