body {
    background-color: #86C8BC;
}

h1 {
    color: #CEEDC7;
    background-color: #86C8BC;
}

h3 {
    color: #CEEDC7;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #CEEDC7;
    height: 0px;
    width: 10%;
}

img {
    height: 200px;
}

p {
    color: #CEEDC7;
    background-color: #86C8BC;
}

table {
    display: inline;
}